.navbar-default {
  background-color: #e7e7e7;
}

.footer {
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #333;
  text-align: center;
  padding: 1%;
}

/** ReactQuill */
.ql-editor {
  min-height: 200px;
  height: auto;
}

.ql-toolbar {
  z-index: 1000 !important;
  border: 0 !important;
  border-bottom: 1px solid #e5e7eb !important;
}

.ql-container {
  z-index: auto;
  border: 0 !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16px"]::before {
  content: "16px";
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="18px"]::before {
  content: "18px";
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="20px"]::before {
  content: "20px";
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="24px"]::before {
  content: "24px";
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="28px"]::before {
  content: "28px";
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="32px"]::before {
  content: "32px";
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="36px"]::before {
  content: "36px";
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="40px"]::before {
  content: "40px";
}

.ql-editor {
  font-size: 16px;
}

.quill {
  @apply w-full text-base font-semibold border border-gray-300 rounded-lg 
  focus-within:outline-none focus-within:ring-2 focus-within:ring-blue-500 focus-within:border-blue-500 transition duration-200;
}

.ql-editor.ql-blank[data-placeholder]::before {

}
